rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{org}/{document=**} {
      allow read, write: if firestore.get(/databases/(default)/documents/$(org)/public/users/$(request.auth.token.email)).data.admin;
      allow read: if firestore.exists(/databases/(default)/documents/$(org)/public/users/$(request.auth.token.email));
    }
  }
}