.firebase-emulator-warning {
    display: none;
    height: 0px;
}

@media print {
    .printHidden {
        display: none;
    }
}

body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.blueText {
    color: '#045174';
}

.whiteText {
    color: '#ffffff';
}


.quicksand.quicksand {
    font-family: Quicksand, "Roboto", "Helvetica", "Arial", sans-serif;
}