.video {
  aspect-ratio: 16 / 9;
}

.orgImg {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 5px;
}
.orgBg {
  aspect-ratio: 11 / 4;
  width: 40%;
  margin-top: 64px;
}
.firebase-emulator-warning {
  display: none;
}

/* body {

  width: 300px;
  overflow: auto;
} */

.orgHeader {
  height: 100%;
  width: 100%;
  max-width: 800px;
  object-fit: cover;
  border-radius: 5px;
}